// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.products {
	padding-top: 5em;
	h3, h5 {
		text-align: center;
		font-family: 'Abril Fatface', cursive;
	}
}
.btn {
	margin: auto;
	display: block;
		&.buy{
			text-align: center;
			margin: auto;
	display: block;
		}
} 
.image {
	img {
		max-width: 100%;
	}
}
p {
	font-family: 'Abril Fatface', cursive;
}