
<div class="container">
	<h1 class="sitename">Wiley Pecan Farm</h1>
	<h3 class="sitename">more then just a bag of nuts...</h3>
	<header class="banner">
		
	</header>
	<div class="col-md-1">
	</div>
	<div class="col-md-10 bio">
	A pecan, like the fruit of all other members of the hickory genus, is not truly a nut, but is technically a drupe, a fruit with a single stone or pit, surrounded by a husk.Wiley Pecan Farm was established in 2009 by Steve and Celeste Wiley. Located in Tow, Texas which is on Lake Buchanan. The harvest is typically around mid-October. Historically, the leading pecan-producing state in the U.S. has been Georgia, followed by Texas. 
	</div>
	<div class="col-md-1"></div>

</div>
