
<div class="container">
	<header class="banner">
		<h1>Wiley Pecan Farm</h1>
		<h3>more then just a bag of nuts...</h3>
	</header>
	<div class="col-md-4">
	</div>
	<div class="col-md-4 bio">
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra dapibus purus, sed dapibus sapien viverra mattis. Etiam rutrum, augue a dictum auctor, dolor felis suscipit massa, in luctus risus velit vitae justo. Phasellus vitae justo molestie, gravida dui quis, aliquet nibh. Sed lacinia magna sit amet elit consectetur molestie. 
	</div>
	<div class="col-md-4"></div>

</div>
