<div class="col-md-4"></div>
<div class="col-md-4">
<form class="form-horizontal" role="form" ng-submit="submitModel()">
  <div class="form">
    <div class="userinfo">
      <input class="form-control" id="firstname" placeholder="First name" ng-model="newUserModel.firstName">
    </div>
  </div>
  
  <div class="form">
    <div class="userinfo">
      <input class="form-control" id="lastname" placeholder="Last name" ng-model="newUserModel.lastName">
    </div>
  </div>

  <div class="form">
    <div class="userinfo">
      <input class="form-control" id="email" placeholder="Email" ng-model="newUserModel.email">
    </div>
  </div>
 
  <div class="form">
    <div class="userin">
      <button type="submit" class="btn btn-success">Sign up</button>
    </div>
  </div>
</form>
</div>
<div class="col-md-4"></div>