<!-- 

<table ng-repeat="product in products.products">
    <tr>
        <th class= "table_header"> {{product.name}} </th>
    </tr>
    <tr>
        <td> {{product.price}} </td>
    </tr>
     <tr>
        <td> {{product.description}} </td>
    </tr>
</table> -->
<div class="products">
	<div class="container">
		<div class="col-md-3 product" ng-repeat="product in products">
			<div><img src="http://www.fillmurray.com/200/300"></div>
			<div>
				<h3 class="product name">{{product.name}}</h3>
			</div>
			<div>
				<h5>{{product.price}}</h5>
			</div>
			<div>
				<p>{{product.description}}</p>
			</div>
		</div>
	</div>
</div>