<form class="form-horizontal" role="form" ng-submit="submitProductModel()">
  <div class="form">
    <label for="productname" class="col-sm-2 control-label">Product name:</label>
    <div class="userinfo">
      <input class="form-control" id="productname" placeholder="Product name" ng-model="newProductModel.productname">
    </div>
  </div>
  
  <div class="form">
    <label for="productprice" class="col-sm-2 control-label">Product Price:</label>
    <div class="userinfo">
      <input class="form-control" id="productprice" placeholder="Product Price" ng-model="newProductModel.productprice">
    </div>
  </div>

  <div class="form">
    <div class="userinfo">
     <input type="radio" name="Available" value="available" ng-model="newProductModel.available">Available<br>
    </div>
  </div>
 
  <div class="form">
    <div class="userin">
      <button type="submit" class="btn btn-success">Sign up</button>
    </div>
  </div>
</form>